<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>express_base</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <nav class="navbar">
    <div class="container">
      <a href="/" class="btn_home">
        <button type="button" class="btn btn-success">回到首頁</button>
      </a>

      <div class="btnlist">
        <a href="/about" class="btn_about">
          <button type="button" class="btn btn-success">About</button>
        </a>
        <a href="/portfolio" class="btn_portfolio">
          <button type="button" class="btn btn-success">Portfolio</button>
        </a>
        <a href="/contact" class="btn_contact">
          <button type="button" class="btn btn-success">Contact</button>
        </a>
      </div>
    </div>
  </nav>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}


  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>